.userDashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-container {
  display: flex;
  width: 450px;
  flex-wrap: wrap;
}

.flex-container > div {
	width: 150px;
	font-size: 13px;
    color: #585858;
}

.flex-container > div > a {
	text-decoration : none;
	color: #585858;
}

.logout {
    font-size: 13px;
    color: #585858;
    padding: 7px 17px;
    margin-bottom: 8px;
    margin-top: 50px;
    line-height: 1.2;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
}
